body {
    margin: auto;
}
section{
    background-image: url(ballon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main {
    margin-top: 1px;
}
.main h1 {
    margin-left: 20px;
}
.main p {
    margin-left: 70px;
    margin-right: 70px
}